<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
<center>
    <form action="{:url('login/login')}" method="post" id="aform">
<table>
    <tr>
        <td>用户名</td>
        <td><input type="text" name="username" id="username"></td>
        <td><span id="nameerror" style="color: red"></span></td>
    </tr>
    <tr>
        <td>密码</td>
        <td><input type="password" name="pwd" id="pwd"></td>
        <td><span id="pwderror" style="color: red"></span></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="button" value="登录" onclick="addform()"></td>
        <td></td>
    </tr>
</table>
    </form>
</center>
<script>
    function addform() {
        var name = $("#username").val();
        var pwd = $("#pwd").val();
        if(name==''){
            $("#nameerror").html('请输入用户名');
            return false;
        } else {
            $("#nameerror").html('');
        }
        if (pwd==''){
            $("#pwderror").html('请输入密码');
            return false;
        } else {
            $("#pwderror").html('');
        }

        $("#aform").submit();
    }
</script>
</body>
</html>